.log{
	border: 1px solid lightgray; 
	height: 300px;
	border-top: none;
	overflow-y: auto;
	overflow-x: hidden;
}

.losses{
	color: red;
}

.gained{
	color: green;
	font-weight: bold;
}

.got{
	color: black;
}

#cave{
	background-image: url('../images/cave.png');
	background-color: transparent;
	width: 100%;
	height: 200px;
	border: none;
	background-size: cover;
}

#house{
	background-image: url('../images/house.png');
	background-color: transparent;
	width: 100%;
	height: 200px;
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
}

#goldmine{
	background-image: url('../images/goldmine.png');
	background-color: transparent;
	width: 100%;
	height: 200px;
	border: none;
	background-size: cover;
}

#casino{
	background-image: url('../images/casino.png');
	background-color: transparent;
	width: 100%;
	height: 200px;
	border: none;
	background-size: cover;
}

#ninja{
	position: absolute;
}